<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="assets/mui/css/mui.min.css">
	<link rel="stylesheet" href="assets/mui/css/iconfont.css">
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/cart.css">
	<script src="assets/zepto/zepto.min.js"></script>
	<script src="assets/mui/js/mui.min.js"></script>
	<script src="assets/artTemplate/template-native.js"></script>
	<script src="js/common.js"></script>
	<script src="js/cart.js"></script>
    <style>
        button{
            width: 120px;
        }
        .btn1{
            left: 28px;
            top: 436px;
            /*margin-left: -94px;*/
        }
        .btn2{
            left: 58px;
            top: 436px;
            /*margin-right: 5px;*/
        }
    </style>
</head>
<body>
	<header class="mui-bar mui-bar-nav header">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<h1 class="mui-title">购物车</h1>
		<a class="mui-icon mui-icon-reload mui-pull-right"></a>
	</header>
	<nav class="mui-bar mui-bar-tab footer">
		<a class="mui-tab-item" href="index.html">
			<span class="mui-icon mui-icon-home"></span>
			<span class="mui-tab-label">首页</span>
		</a>
		<a class="mui-tab-item" href="category.html">
			<span class="mui-icon mui-icon-bars"></span>
			<span class="mui-tab-label">分类</span>
		</a>
		<a class="mui-tab-item mui-active" href="cart.html">
			<span class="mui-icon iconfont icon-gouwuche"></span>
			<span class="mui-tab-label">购物车</span>
		</a>
		<a class="mui-tab-item" href="user.html">
			<span class="mui-icon mui-icon-person"></span>
			<span class="mui-tab-label">会员中心</span>
		</a>
	</nav>
	<div class="mui-scroll-wrapper">
		<div class="mui-scroll">
			<ul class="mui-table-view" id="cartBox"></ul>
			<h4 class="total">订单总额：¥110</h4>
		</div>
        <div class="jiesuan">
            <button type="button" class="mui-btn mui-btn-primary mui-btn-outlined btn1">全选</button>
            <button type="button" class="mui-btn mui-btn-danger mui-btn-outlined btn2" id='alipay'>结算</button>
            <form id="form" action="https://www.payelves.com/api/v1/pay/web" method="post">
                <input type="hidden" name="openId" value="woeQxl2zn" />
                <input type="hidden" name="appKey" value="8109107043565570" />
                <input type="hidden" name="sign" id='sign' value="9f6e47d28d750782ee246abe21276e8f" />
                <input type="hidden" name="channel" value="baidu" />
                <input type="hidden" name="dateTime" value="2018-10-01 15:19:50" />
                <input type="hidden" name="price" value="50" />
                <input type="hidden" name="userId" value="123abc" />
                <input type="hidden" name="clientVersion" value="3.3.0" />
                <input type="hidden" name="payType" id='payType' value="1" />
                <input type="hidden" name="subject" value="精灵生活助手" />
                <input type="hidden" name="body" value="精灵生活助手" />
                <input type="hidden" name="orderId" value="abc123" />
                <input type="hidden" name="backPara" value="1a" />
                <input type="hidden" name="uuid" value="1" />
            </form>
        </div>
	</div>

    <script src="https://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="pay/StringUtils.js?v=20190320"></script>
    <script type="text/javascript" src="pay/Map.js"></script>
    <script type="text/javascript" src="pay/md5.js"></script>
    <script type="text/javascript" src="pay/pay.js?v=20190320"></script>
    <script type="text/javascript">
        function createURLLink(map) {
            var sb = new StringBuffer();
            var str1 = "=";
            var str2 = "&";
            var keys = map.keyArray();
            var values = map.valueArray();
            for (var i = 0; i < map.size(); i++) {
                var key = keys[i];
                var value = values[i];
                sb.append(key).append(str1).append(value == null ? "" : value).append(str2);
            }
            return sb.toString().substring(0, sb.toString().length - 1);
        }
        $(document).ready(function() {
            var map = new Map();
            var token = "b602b8c5969d4455b8c3e09b7997c7c7";
            map.put("appKey",form.appKey.value);
            map.put("backPara",form.backPara.value);
            map.put("body",form.body.value);
            map.put("channel",form.channel.value);
            map.put("clientVersion",form.clientVersion.value);
            map.put("dateTime",form.dateTime.value);
            map.put("openId",form.openId.value);
            map.put("orderId",form.orderId.value);
            map.put("payType",form.payType.value);
            map.put("price",form.price.value);
            map.put("subject",form.subject.value);
            map.put("userId",form.userId.value);
            map.put("uuid",form.uuid.value);

            var strs = createURLLink(map);
            //add token
            var strfinal = strs+token;
            console.log("strfinal:"+strfinal);
            var sign1 = md5(strfinal);
            console.log("strs:"+strs+"\nsign1:"+sign1);
            var finishStr = strfinal+"&sign="+sign1;
            console.log("finish:"+finishStr);
            $("#alipay").click(function() {
                $('#sign').val(sign1);
                $('#payType').val('1');
                $('#form').submit();
            });
        })//end document
    </script>



	<script id="cartTpl" type="text/html">
		<% for(var i=0;i<data.length;i++){ %>
			<li class="mui-table-view-cell mui-transitioning mui-media">
				<div class="mui-slider-right mui-disabled">
					<span class="mui-btn mui-btn-primary editBtn" data-id="<%=data[i].id %>">编辑</span>
					<span class="mui-btn mui-btn-red deleteBtn" data-id="<%=data[i].id %>">删除</span>
				</div>
				<div class="mui-slider-handle">
					<a href="javascript:;">
						<img class="mui-media-object mui-pull-left" src="images/detail.jpg">
						<div class="mui-media-body">
							<p>
								<%=data[i].proName%>
							</p>
							<div class="mui-row">
						       <div class="mui-col-sm-6">
						       		<input type="checkbox">
						           <span class="price-1">¥<%=data[i].price %></span>
						           <span class="price-2 gray">¥<%=data[i].oldPrice %></span>
						       </div>
						       <div class="mui-col-sm-4">
						           <span class="gray">鞋码：<%=data[i].size %></span>
						       </div>
						       <div class="mui-col-sm-2">
						           <span class="gray">x<%=data[i].num %>双</span>
						       </div>
						   </div>
						</div>
					</a>	
				</div>
			</li>
		<% } %>
	</script>
	<script id="detailTpl" type="text/html">
		<div class="detail-size">
			尺码：
				<% for(var i=0;i<data.customSize.length;i++){ %>
					<span class="<%=data.size==data.customSize[i]?'active':''%>"><%=data.customSize[i] %></span>
				<% } %>
		</div>
		<div class="detail-num">
			数量：<span class="reduce">-</span><input type="text" class="num" value="<%=data.num %>"><span class="plus">+</span>
		</div>
	</script>

</body>
</html>